#title{
    font-family: 'Cormorant Garamond', serif;
}
nav{
    display:inline-block
}
.video{
    width: 100%;
    margin:auto;
}
body{
    background-color: black;
}
.image1{
    width: 50%;
    position: relative;
    margin-top: -70px;
}